/* LESS VARS */
@chatWindowBorder: #d0d0d0;
@chatWindowColor: #000;
@chatWindowBackgroundColor: #f9f9f9;
@chatWindowHeaderBackgroundColor: #b0b0b0; 
@chatWindowHeaderColor: #fff;
@chatWindowInactiveBackgroundColor: #b0b0b0;
@chatWindowActiveHeaderBackgroundColor: #2E78B0;

@chatMessageColor: #d2d2d2;
@chatMessageBorderColor: #d2d2d2;
@chatMessageBackgroundColor: #f6f7f8;
@chatMineMessageColor: #d2d2d2;
@chatMineMessageBorderColor: #bdc9d4;
@chatMineMessageBackgroundColor: #dbedfe;
@chatTimeColor: #afafaf;

@chatPostBorder: #F1F0F0;
@chatNewPostBackgroundColor: #fff8c0;
@chatBlinkingHeader1: lighten(@chatWindowActiveHeaderBackgroundColor, 15);
@chatBlinkingHeader2: darken(@chatWindowActiveHeaderBackgroundColor, 10);
/* END LESS VARS */


.chatContainer {
	position:fixed;
	bottom: 0;
	display:block;
	right: 0;
	height: 30px;
	z-index: 99;
	width: 100%;
	pointer-events:none;
}

#chatMenu, #chatWindows {
	pointer-events:all;
}

.chatWindowMin {
    border-right:1px solid @chatWindowBorder;
	border-left:1px solid @chatWindowBorder;
	border-top:1px solid @chatWindowBorder;
    text-align: center;
    padding: 10px 20px;
	background-color: @chatWindowBackgroundColor;
	cursor: pointer;
	margin-left: 10px;
	color: @chatWindowColor;
}

.chatWindowContainer {
	  float: left;
	  height: 30px;
	  margin-left: 10px;
	  width: 240px;
}

.chatWindowHeader, .chatWindowHeader2, .chatWindowHeaderInactive  {
	background-color: @chatWindowHeaderBackgroundColor;
	color: @chatWindowHeaderColor;
	padding: 5px 10px;
	height: 16px;
	overflow: hidden;
}

.chatWindowHeaderInactive{
	background-color: @chatWindowInactiveBackgroundColor !important;
}

.chatWindowHeader span, .chatWindowHeaderInactive span {
	display: block;
    float: left;
    width: 175px;
    overflow: hidden;
}

.chatWindowHeader span input, .chatWindowHeaderInactive span input {
	height: 16px;
    margin: -5px 0 0;
	width: 100%;
	border: none;
	border-radius: 0px;
}

.active .chatWindowHeader, #chatMenu .chatWindowHeader2 {
	background-color: @chatWindowActiveHeaderBackgroundColor !important;
}

.chatOnlineSeperator {
	border-bottom: 1px solid @chatWindowBorder;
    line-height: 0;
    margin: 0 0 2px;
    min-height: 1px !important;
    padding: 0 !important;
}

#chatOnlineSearch, #chatOnlineSearch:focus, #chatOnlineSearch:hover{
	width: 90%;
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
}

.chatOnlineList li {
	display: block;
	clear: both;
	padding: 5px 0px;
	min-height: 23px;
}

.chatOnlineList {
	clear: both;
	margin-bottom: 5px;
}

.chatOnlineList .hand:hover {
	color: @chatWindowColor;
}

.chat_last_online {
	float: right;
}
.chatWindow, .chatWindowMenu {
	bottom: 0;
	height: 280px;
	margin-left: -1px;
	position: absolute;
	width: 240px;
	border-right:1px solid @chatWindowBorder;
	border-left:1px solid @chatWindowBorder;
	border-top:1px solid @chatWindowBorder;
	background-color: @chatWindowBackgroundColor;
}

.chatWindowContent, .chatWindowAddUser {
	height: 226px;
	overflow-y: auto;
	padding-right: 3px;
	padding-left: 3px;
	text-align: left;
}

#chatMenu .chatWindowMenu {
	height: auto;
}
#chatMenu .chatWindowContent {
	height: auto;
	max-height: 400px;
	overflow-y: auto;
	padding-right: 10px;
	color: @chatWindowColor;
}
					
.chat_user_avatar img, .chatAvatar img {
	max-height: 24px;
}
.chat_username {
	float: left;
	margin-left: 5px;
}

.chatFloat {
	position: relative;
	float: right;
}

.chatInput {
	border-top: 1px solid @chatWindowBorder;
	overflow:hidden;
	position: absolute;
	width: 240px;
	bottom: 0;
}

#chatMenu .chatInput {
	position: relative;
}

.chatInput textarea, .chatInput input {
	margin: 0;
	width: 100%;
	border: none;
	border-radius: 0px;
	height: 20px;
}

.chatAvatar {
	display: table-cell;
	min-width: 30px;
}

.chatAvatar a {
	margin-top: 8px;
}

.chatAvatar .user-tooltip-avatar {
	float: none;
}

.chatWindowContent .chatPost.mine .chatAvatar img {
	display: none;
}

.chatMsgContainer {
	display: table-cell;
	width: 100%;
}

.chatMessage {
    padding: 3px;
    word-break: break-word;
    white-space: pre-wrap;
	margin-top: -4px;
	font-size: 12px;
	color: @chatWindowColor;
	text-align: left;
	clear: both;
	position: relative;
	border-radius: 4px;
	border: 1px solid @chatMessageBorderColor;
	background-color: @chatMessageBackgroundColor;
	margin-left: 8px;
	margin-right: 8px;
}

.chatMessage:before {
	content: "";
	position: absolute;
	top: 3;
	left: -11px;
	border-style: solid;
	border-width: 7px 11px 7px 0;
	border-color: transparent @chatMessageColor;
	display: block;
	width: 0;
	z-index: 0;
	height: 0;
}

.chatMessage:after {
	content: "";
	position: absolute;
	top: 4px;
	left: -10px;
	border-style: solid;
	border-width: 6px 10px 6px 0;
	border-color: transparent @chatMessageBackgroundColor;
	display: block;
	width: 0;
	z-index: 1;
	height: 0;
}

.mine .chatMessage {
	background-color: @chatMineMessageBackgroundColor;
	margin-right: 8px;
	position: relative;
	border-radius: 4px;
	border: 1px solid @chatMineMessageBorderColor;
}

.mine .chatMessage:before {
	content: "";
	position: absolute;
	top: 3;
	left: 100%;
	border-style: solid;
	border-width: 7px 0 7px 11px;
	border-color: transparent @chatMineMessageBorderColor;
	display: block;
	width: 0;
	z-index: 0;
	height: 0;
}

.mine .chatMessage:after {
	content: "";
	position: absolute;
	top: 4px;
	left: 100%;
	border-style: solid;
	border-width: 6px 0 6px 10px;
	border-color: transparent @chatMineMessageBackgroundColor;
	display: block;
	width: 0;
	z-index: 1;
	height: 0;
}

.chatTime {
    color: @chatTimeColor;
    float: right;
    font-size: 9px;
    padding-right: 8px;
}

.chatUsername {
    color: @chatTimeColor;
    float: left;
    font-size: 9px;
    padding-left: 8px;
}

.chatPost {
	border-top: 1px solid @chatPostBorder;
	margin-top: 2px;
	margin-bottom: 2px;
}

.chatNewPost {
	background-color: @chatNewPostBackgroundColor;
}

/* Example tokeninput style #2: Facebook style */
ul.token-input-list-facebook {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 4px 0 0;
    padding: 0;
    list-style-type: none;
    clear: left;
	border: 1px solid @eqdkpInputBorderColor;
	background-color: @eqdkpInputBackgroundColor;
}

ul.token-input-list-facebook li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    margin: 2px 0;
    -webkit-appearance: caret;
	border-radius: 0px;
	box-shadow:none !important;
	background-color: @eqdkpInputBackgroundColor;
}

li.token-input-token-facebook {
    overflow: hidden; 
    height: auto !important; 
    height: 15px;
    margin: 3px;
    padding: 3px 4px;
    background-color: #eff2f7;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size: 11px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
}

li.token-input-token-facebook p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-facebook span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-facebook {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token-facebook {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook {
    position: absolute;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 11px;
    font-family: Verdana;
    z-index: 1000;
}

div.token-input-dropdown-facebook p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown-facebook ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-facebook ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: #3b5998;
    color: #fff;
}

.chat-tooltip {
	display:none;
}

.chatTooltipAvatar {
	float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 52px;
    margin-top: 10px;
}

.chatTooltipAvatar img {
	max-height: 48px;
}

.chatTooltipAvatar i {
	font-size: 48px;
}

.chatTooltip a {
	display: block;
	clear: both;
}

.chatTooltipTitle {
	display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    float: left;
    margin-top: 10px;
}

.chatTooltipDate {
	float: right;
    font-size: 0.8em;
    text-align: right;
    width: 95px;
}

.chatTooltipLastMessage {
	max-height: 32px;
    width: 180px;
    overflow: hidden;
    float: left;
}

.chatTooltip li {
	margin-bottom: 4px;
}

.blinkingHeader {
	-webkit-animation: blinkingHeader 3s infinite;
	animation: blinkingHeader 3s infinite;
}
 
@-webkit-keyframes blinkingHeader {
    0% {background-color: @chatBlinkingHeader1;}
    50% {background-color: @chatBlinkingHeader2;}
    100% {background-color: @chatBlinkingHeader1;}
}
@keyframes blinkingHeader {
    0% {background-color: @chatBlinkingHeader1;}
    50% {background-color: @chatBlinkingHeader2;}
    100% {background-color: @chatBlinkingHeader1;}
}

.noNewPost {
	-webkit-animation: noNewPost 1s;
	animation: noNewPost 1s;
	animation-iteration-count: 1;
	background-color: @chatWindowBackgroundColor;
}

@-webkit-keyframes noNewPost {
	from {background-color: @chatNewPostBackgroundColor;}
    to {background-color: @chatWindowBackgroundColor;}
}
@keyframes noNewPost {
    from {background-color: @chatNewPostBackgroundColor;}
    to {background-color: @chatWindowBackgroundColor;}
}

.chatMaxConvIcon {
	display:none !important;
}

.chatMinimized .chatMaxConvIcon {
	display: inline !important;
}

.chatMinimized .chatMinConvIcon, .chatMinimized .chatWindowContent, .chatMinimized .chatInput{
	display:none;
}

.chatMinimized .chatWindow, .chatWindowMenu {
	height: 25px;
}

.chatDeleteContainer {
	float: right;
    margin-left: 5px;
}